@import "reset.css";
@import "general.css";
@import "colors.css";

/* Home */
.container {
    max-width: 1170px;
    margin: 0 auto;
}
/* Header */

.wrapper {
    width: 100%;
    border: 5px solid black;
    padding: 20px;
    color: white;
}

.box {
    width: 100%;
    border: 5px solid black;
    padding: 20px;
    color: white;
}

.wrapper .row {
    text-align: center;
}

.wrapper .row > *{
    background-color: blue;
    border: 1px solid white;
    padding: 20px;
}



.wrapper .row .col-6 .row > * {
    background-color: green;
    border: 1px solid blue;
}

.box .row div:last-child {
    background-color: blue;
    border: 1px solid white;
    padding: 20px;
}











/* Debug */









/* MEDIAQUERY FOR RESPONIVE */

/* Desktop-First */

/* DESKTOP */
/* @media screen and (max-width: 992px) {
    
} */

/* TABLET */
/* @media screen and (max-width: 768px) {
    
} */

/* MOBILE PICCOLO */
/* @media screen and (max-width: 576px) {

} */



/* Mobile-First */

/* MOBILE PICCOLO */
/* @media screen and (min-width: 576px) {

} */

/* TABLET */
/* @media screen and (min-width: 768px) {
    
} */

/* DESKTOP */
/* @media screen and (min-width: 992px) {
    
} */


